{{! this page renders a one animal profile }}

<div class="container d-flex justify-content-center align-items-center">

  <div class="container">
    {{! Page Title }}
    <div class="row">
      <h1>{{this.animalName}}'s profile</h1>

      <hr />
    </div>

    {{!One animal profile }}
    <div class="row bg-light">

      {{! img col }}
      <div class="col">
        <img
          class="img-fluid rounded"
          style=" width: 800px; 
                  height: 450px;"
          src={{animalImage}}
        />
        <h4
          class="card bg-primary text-white p-2 align-items-center"
          style="max-width: 800px"
        >Favourited
        </h4>
      </div>

      {{! description col }}
      <div class="col">

        {{!Buttons row}}
        <div>
          <ul class="list-inline">

            {{! if admin in session }}
            {{#if adminInSession}}

              <li class="list-inline-item">
                <form action="/pets/{{_id}}/edit" method="get">
                  <button class="btn btn-success ms-1">
                    Edit profile
                  </button>
                </form>
              </li>

              <li class="list-inline-item">
                <form action="/pets/{{_id}}/delete" method="post">
                  <button class="btn btn-danger ms-1">
                    Delete profile
                  </button>
                </form>
              </li>

              {{! if user in session }}
            {{else}}
              <li class="list-inline-item">
                <form action="/pets/{{_id}}/like" method="post">
                  <button class="btn btn-primary ms-1">
                    Favourite
                  </button>
                </form>
              </li>
              <li class="list-inline-item">
                <form action="/pets/animalall" method="GET">
                  <button class="btn btn-secondary ms-1">
                    Back to Animals list
                  </button>
                </form>
              </li>
            {{/if}}
          </ul>
        </div>

        {{!animal parameters description row}}
        <div class="row mt-5 ms-3">

          <ul class="list-inline">
            <li class="list-inline-item" style="width: 70px">
              <p><u>Name:</u></p>
            </li>
            <li class="list-inline-item">
              <h6>{{this.animalName}}</h6>
            </li>
          </ul>

          <ul class="list-inline">
            <li class="list-inline-item" style="width: 70px">
              <p><u>Type:</u></p>
            </li>
            <li class="list-inline-item">
              <h6>{{this.animalType}}</h6>
            </li>
          </ul>

          <ul class="list-inline">
            <li class="list-inline-item" style="width: 70px">
              <p><u>Gender:</u></p>
            </li>
            <li class="list-inline-item">
              <h6>{{this.animalGender}}</h6>
            </li>
          </ul>

          <ul class="list-inline">
            <li class="list-inline-item" style="width: 70px">
              <p><u>Age:</u></p>
            </li>
            <li class="list-inline-item">
              <h6>{{this.animalAge}} years</h6>
            </li>
          </ul>

          <ul class="list-inline">
            <li class="list-inline-item" style="width: 70px">
              <p><u>Size:</u></p>
            </li>
            <li class="list-inline-item">
              <h6>{{this.animalSize}}</h6>
            </li>
          </ul>

          <ul class="list-inline">
            <li class="list-inline-item" style="width: 70px">
              <p><u>Description:</u></p>
            </li>
            <li class="list-inline-item">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Asperiores, assumenda blanditiis repudiandae expedita doloribus
                a dolor necessitatibus non odit est quaerat exercitationem ipsam
                voluptatibus culpa, sapiente mollitia tempore, dolorem saepe!
              </p>
            </li>
          </ul>

        </div>

      </div>

    </div>

  </div>
</div>