{{! views/pets/animalEdit.hbs }}
<div
  class="container h-100 d-flex justify-content-center align-items-start mt-5"
>
  <div class="row">
    <div class="col">
      <h2 class="mb-3">Edit the animal profile: </h2>

      <form action="/pets/{{_id}}/edit" method="post">

        <label>
          Name:
          <input type="text" name="animalName" value="{{animalName}}" />
        </label>

        <label>
          Type:
          <input type="text" name="animalType" value="{{animalType}}" />
        </label>

        <label>
          Gender:
          <input type="text" name="animalGender" value="{{animalGender}}" />
        </label>

        <label>
          Age:
          <input type="number" name="animalAge" value="{{animalAge}}" />
        </label>

        <label>
          Size:
          <input type="text" name="animalSize" value="{{animalSize}}" />
        </label>

        <button type="submit">Save changes</button>
      </form>
    </div>

  </div>

</div>