{{! this page renders a result of the research }}

<h1>Here you can see all our animals</h1>
{{#each result}}
  <div id="allPets" class="container">
    <img class="imgPets" src={{this.animalImage}} />
    <div id="description">
      <h1>{{this.animalName}}</h1>
      <h3>{{this.animalType}}</h3>
      <h3>{{this.animalGender}}</h3>
      <h3>{{this.animalAge}}</h3>
      <h3>{{this.animalSize}}</h3>

    </div>
    <form action='/pets/animalProfile/{{_id}}' method="get">
      <button> click this</button>
    </form>
  </div>
{{/each}}