{{! this page renders a one animal profile }}

<div class="container d-flex justify-content-center align-items-center">

  <div class="container">
    {{! Page Title }}
    <div class="row">
      <h1>Animal profile</h1>

      <hr />
    </div>

    {{!One animal profile }}
    <div class="row">

      {{! img col }}
      <div class="col">
        <img
          class="img-fluid rounded mb-3"
          style=" width: 600px; 
                  height: 450px;"
          src={{animalImage}}
        />
      </div>

      {{! description col }}
      <div class="col">

        {{!Buttons row}}
        <div>

          <ul class="list-inline">

            <li class="list-inline-item">
              <form action="/pets/{{_id}}/delete" method="post">
                <button class="btn btn-outline-danger ms-1">
                  Delete profile
                </button>
              </form>
            </li>

            <li class="list-inline-item">
              <form action="/pets/{{_id}}/edit" method="get">
                <button class="btn btn-outline-success ms-1">
                  Edit profile
                </button>
              </form>
            </li>

            <li class="list-inline-item">
              <form action="/pets/{{_id}}/like">
                <button class="btn btn-outline-primary ms-1">
                  Favourite
                </button>
              </form>
            </li>

            <li class="list-inline-item">
              <button
                class="btn btn-outline-secondary ms-1"
                href="/pets/animalall"
              >
                Back to Animals list
              </button>
            </li>

          </ul>

        </div>

        <div class="row">
          <p><u>Name:</u></p><h1>{{this.animalName}}</h1>
          <p><u>Type:</u></p><h3>{{this.animalType}}</h3>
          <p><u>Gender:</u></p><h3>{{this.animalGender}}</h3>
          <p><u>Age:</u></p><h3>{{this.animalAge}}</h3>
          <p><u>Size:</u></p><h3>{{this.animalSize}}</h3>
        </div>

      </div>
    </div>
  </div>
</div>